html {
    min-height: 100%;
    background: cadetblue; 
    color: aliceblue; 
}
.container span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height:40px;
}
.center {
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    transition: all 1s ease-in, opacity .7s ease-in .3s;
    opacity: 1;
}
