* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    position: relative;
}

.container .searchEngine {
    font-size: 66px;
    margin-top: 125px;
    text-shadow: 0px 0px 10px #FFCCCC, 2px 2px 10px #FF99CC, -2px -2px #CCCCFF;
    color: #fff;
}

.container .baseBar input {
    width: 600px;
    height: 50px;
    margin: 20px 0;
    padding: 0 30px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
}

.container .baseBar input:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.container .baseBar.searchBar input {
    width: 600px;
    height: 50px;
    margin: 20px 0;
    padding: 0 30px;
    border: 1px solid #dfe1e5;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    outline: none;
    font-size: 18px;
    box-shadow: 0 1px 6px  0 rgba(32,33,36,0.28);
    border-color: rgba(223, 225, 229, 0);
    box-sizing: border-box;
}

.container .searchList {
    display: none;
    width: 600px;
    max-height: 300px;
    border: 1px solid #dfe1e5;
    border-top: none;
    border-radius: 0 0 15px 15px;
    position: absolute;
    left: 50%;
    top: 120%;
    box-sizing: border-box;
    transform: translateX(-50%);
    font-size: 18px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    overflow-y: scroll;
    cursor: pointer;
}
.container .searchList li{
    text-align: left;
    padding:5px 20px;
    color: #ccc;
}
.container .searchList li  span.kw {
    color: #FFCCCC
}
.container .searchList li.active{
    background: #333
}