* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 100px auto;
}

#pan {
    width: 100%;
    height: 100%;
}

#pan img {
    width: 100%;
    height: 100%;
}

#btn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 130px;
    height: 130px;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
}

#btn img {
    position: absolute;
    width: 100%;
    top: -23px;
}